#Dev database
#db-user=${}
#db-pass=${}
#db-url=${}


### AWS - Credentials ###
AWS_ACCESS_KEY_ID=aws_access_key
AWS_SECRET_ACCESS_KEY=aws_secret_access_key
AWS_REGION=sa-east-1
VITE_AWS_BUCKET_A= exampletorageA
VITE_AWS_BUCKET_B=exampletorageA
VITE_AWS_ACCESS_KEY_ID= aws_access_key
VITE_AWS_SECRET_ACCESS_KEY=aws_secret_access_key
VITE_AWS_REGION=sa-east-1