
##backend/venv/
backend/venv/
backend/venv/*
backend/venv/Lib/*
backend/venv/Scripts/*
backend/venv/Include/*
backend/venv/Lib/site-packages/*
backend/venv/Lib/site-packages/*
backend/venv/pyvenv.cfg
backend/venv/pyvenv.cfg

##BACK/.ENV 
backend/.env
backend/.env.example
backend/.env.prod
backend/.env.dev
backend/.env.homolog

##.venv
.venv
.venv/*
.venv/Lib/*
.venv/Scripts/*
.venv/Include/*
.venv/Lib/site-packages/*
.venv/Lib/site-packages/*
.venv/.env
.venv/pyvenv.cfg
.venv/pyvenv.cfg